* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* ----------------Header Section----------------- */
header {
  padding-block: 30px;
  border-bottom: 1px solid #252525;
  margin-bottom: 15px;
}

header .content {
  max-width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content p:first-child {
  color: #298dff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 550;
}

header .content .middle {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

header .content .middle .block {
  border: 1px solid #252525;
  border-radius: 1rem;
  padding: 6px 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

header .content .middle .circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: rgb(2, 255, 133);
  border-radius: 50%;
}

.content p:last-child {
  color: rgb(167, 167, 167);
  font-size: 14px;
}

/* ----------------bookmark Section------------ */
section {
  padding: 20px;
}

section .abm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #252525;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.66);
}

section .abm .part1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

section .abm .part1 .one {
  color: #298dff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 550;
}

section .abm .part1 .two {
  color: rgb(167, 167, 167);
  font-size: 14px;
}

/* --------form design--------------- */
/* -------------------------------url---------------------- */

/* form .part2 {
    display: flex;
  justify-content: space-between;
  gap: 20px;
  } */

form .part2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.url {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* flex: 1; */
  border: 1px solid #252525;
  border-radius: 15px;
  padding: 20px;
  /* transition: transform 50ms ease-in; */
}

form .part2 .url input {
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: white;
  color: white;
  font-size: 1rem;
}

form .part2 .url span:first-child {
  color: #939393;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

form .part2 .url span:last-child {
  font-size: 0.75rem;
  color: #747474;
}

/* --------------------------color------------------------ */

.color {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  border: 1px solid #252525;
  border-radius: 15px;
  padding: 20px;
}

.color input {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: 4px;
  cursor: pointer;
  background: #252525;
  border: 1px solid #747474;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

form .part2 .color .p1 p:first-child {
  color: #939393;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

form .part2 .color .p1 p:last-child {
  font-size: 0.75rem;
  color: #747474;
}

form .part2 .color .p2 span:first-child {
  background-color: #252525;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #747474;
  color: #9f9f9f;
  font-weight: bold;
  margin-right: 8px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
}

form .part2 .color .p2 span:last-child {
  font-size: 0.75rem;
  color: #747474;
}

/* ---------------------------category--------------------- */

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* flex: 1; */
  border: 1px solid #252525;
  border-radius: 15px;
  padding: 20px;
}

form .part2 .category span:first-child {
  text-transform: uppercase;
  color: #939393;
  font-size: 0.75rem;
  font-weight: bold;
}

form .part2 .category span:last-child {
  font-size: 0.75rem;
  color: #747474;
}

.category select {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 0.9rem;
}

.category select option {
  background-color: #171717;
  color: white;
}

.abm .part3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

.username {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #252525;
  border-radius: 15px;
  padding: 20px;
}

.username span:first-child {
  color: #939393;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

.username input {
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: white;
  color: white;
  font-size: 1rem;
}

.username span:last-child {
  font-size: 0.75rem;
  color: #747474;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #252525;
  border-radius: 15px;
  padding: 20px;
}

.password span:first-child {
  color: #939393;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

.password input {
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: white;
  color: white;
  font-size: 1rem;
}

.password span:last-child {
  font-size: 0.75rem;
  color: #747474;
}

.abm .part4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.part4 span {
  font-size: 0.75rem;
  color: #747474;
}

.button {
  display: flex;
  gap: 1rem;
}

.button button {
  background: transparent;
  color: white;
  border: 1px solid #747474;
  border-radius: 2rem;
  padding: 12px 20px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button button:last-child {
  background: #298dff;
}

/* ----------------------main section--------------------- */

main {
  padding: 3rem;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 1rem;
  border: 1px solid #252525;
  border-radius: 1rem;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.66);
}

.search {
  flex: 9;
  border: 1px solid #252525;
  border-radius: 1rem;
  background-color: #121212;
  position: relative;
}
.search span {
  position: absolute;
  left: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.search input {
  width: 100%;
  background: transparent;
  padding-left: 3rem;
  padding-block: 1rem;
  padding-right: 1rem;
  color: white;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.sort-by {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #252525;
  border-radius: 1.5rem;
  padding: 0.3rem 1rem;
  background-color: #171717;
}

.sort-by select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.sort-by select option {
  background-color: #171717;
}

/* -------------------------shadow------------------------ */
.shadow:focus-within {
  border: 1px solid rgb(41, 141, 255);
  box-shadow: 0px 3px 8px #298dff48;
  /* transform: translateY(-4px); */
  /* box-shadow: rgba(41, 141, 255, 0.24) 0px 3px 8px; */
}

.shadow2:hover {
  border: 1px solid rgb(41, 141, 255);
  box-shadow: 0px 3px 8px #298dff48;
  transform: translateY(-4px);
}

/* ------------------reponsive----------------------*/

@media screen and (max-width: 768px) {
  form .part2 {
    grid-template-columns: auto;
  }
}
